@media (min-width: 1800.98px)
  .sidebar
    padding-left: 0 
@media (min-width: 1919.98px)
  .feedback
    &:after
      content: ''
      height: 100%
      width: 100px
      right: -100px
      background-color: #fff
      position: absolute
      z-index: 10
      top: 0
  .case
    &:after
      content: ''
      height: 100%
      width: 100px
      right: -100px
      background-color: #fff
      position: absolute
      z-index: 10
      top: 0
  .page-header 
    .first__head
      &:after
        content: ''
        height: 100%
        width: 100px
        right: -100px
        background-color:#F8F8F8
        position: absolute
        z-index: 10
        top: 0

@media (min-width: 2000.98px)
  .slider__counter
    right: 15%

@media (max-width: 1800.98px)
  .header
    .first__head
      padding-left: 40px
      padding-right: 40px
@media (max-width: 1600.98px)
  .header
    .first__head
      padding-left: 16px
      padding-right: 16px
  .page-header
    .container
      width: 100%
      background: transparent
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .first__head
        background: #F8F8F8
        grid-column: 5/end;
        margin-left: -17px;
  .container
    box-sizing: border-box
  .page-header
    .nav
      grid-column: 5/13
  .footer__adress
    grid-column: 10/13
  .footer__email
    grid-column: 8/10
  .slider__dots
    width: 980px
  .sidebar
    padding-left: 20px
    padding-right: 20px
    margin-right: 17px
  .sidebar:before
    width: 30px
    left: -30px
  .sidebar__contacts
    width: 350px
  .news-inner .mt-minus
    margin-top: 0
  .contacts__info
    max-width: 85%
  .content__flex
    margin-right: 0
  .contacts__item
    height: auto
    padding-top: 150px
    padding-bottom: 150px
@media (max-width: 1370.98px)
  .news-inner__design 
    margin-bottom: 40px
    .news-inner__footnote
      box-shadow: 0 0px 4px #ccc
    &_right
      margin-top: 25px
      .news-inner__footnote
        padding: 36px 75px

     
  .top-phone
    grid-column: 10/13
  .slider__dots
    width: 810px
  .nav
    grid-column: 4 / 10
  .page-header
    .nav
      grid-column: 4/13
    .container 
      .first__head
        margin-left: 0
    
  .sticky-wrapper
    // width: 350px
  .sidebar
    //width: 350px
    margin-right: 0;
    &__contacts
      flex-wrap: wrap
      position: relative
      bottom: 0
      margin-top: 20px
      &_main
        position: relative
        bottom: 0
    &__phone
      width: 100%
      margin-bottom: 20px
  .banner__txt
    grid-column: 3/9
  .slider__counter
    top: 25%
  .contacts__info
    max-width: 90%
  .contacts__link
    width: 100%
    display: block
    margin-bottom: 20px
  .news__list-month__item
    width: 18%
  .news__list-year
    justify-content: flex-start
  .news__list-year__item
    width: 14%
    line-height: 34px

  .news-inner__design
    margin-bottom: 30px
  .contacts__item
    height: auto
    padding-top: 80px
    padding-bottom: 80px


@media (max-width: 1360.98px)
  .news__last
    display: none
  
@media (max-width: 1280.98px)
  .news-inner__footnote
    position: static
    max-width: 100%
    margin-top: 20px
    margin-bottom: 20px
  .news-inner 
    .mt-minus
      margin-top: 0
  .news-inner__img
    text-align: center
  .news-inner__design_right img
    margin: auto
  .news-inner__design:last-child
    margin-bottom: 0
  .section-in_main
    .container
      padding: 0
  .page-header 
    .container 
      .first__head
        margin-left: 0

  .sidebar:before
    display: none
  .logo__caption
    font-size: 25px
  .slider__dots
    margin: 0 18%
  .sticky-wrapper
    width: auto
    //margin-right: 26px
    //min-width: 383px
  .sidebar
    box-sizing: border-box
    max-width: inherit
    width: auto
    
  .sidebar__nav_link
    font-size: 16px
  
  .feedback
    &:before
      width: 60px
      left: -60px
    &:after
      width: 60px
      right: -60px
  .js-ui-accordion_click
    font-size: 15px
  .content__in_design_left
    ul
      margin-left: 80px
  .news__wr
    flex-wrap: wrap
  .news__last
    width: 100%
    margin-right: 0
    margin-bottom: 20px
    border-bottom: 1px solid rgba(0,0,0,0.1)
  .news__list
    width: 100%
  .news-inner__img img
    max-width: 100%

  .only-1280
    display: block
  .news__list-year__item
    margin-bottom: 10px
  .news__list-year__item_active
    font-size: 22px
  .content__in_design_right.myClass
    padding-left: 15px
  .content__in_design_left 
    .title
      margin-left: 80px
  
  .case
    padding-left: 40px
    padding-right: 40px
    width: 100%
    left: 0


@media (max-width: 1025.98px)
  .nav
    grid-column: 5 / 13
  .top-phone
    grid-column: 9/13
  .banner__ttl
    font-size: 35px
  .slider__number
    font-size: 150px
  .slider__counter
    top: 40%
  .slider__number:after
    width: 155px
    height: 100px
  .slider__dots
    width: 665px
  .header
    height: 110px
  .page-header
    .nav
      grid-column: 2/13
    
  .case
    &__wrapper
      flex-wrap: wrap
    &__item
      flex: 0 0 50%
      max-width: 50%
      margin-bottom: 20px
  .main-case
    .case__wrapper
      flex-wrap: nowrap
    .case__item
      width: 300px
      flex: 0 0 300px
      max-width: 100%
      margin-bottom: 0
  .sidebar__nav_link
    font-size: 15px
  .footer__item p:last-child
    line-height: 30px
  .case-in__info
    max-width: 100%
  .cases2__info
    max-width: 100%
  .case:after
    right: -60px
  .feedback:after
    right: -60px
    width: 60px
  .footer__adress
    grid-column: 5/13
    margin-top: 20px
  .footer__copy
    grid-column: 5/end
  .footer__email
    grid-column: 5/end
  .only-laptop
    display: block
  .content
    &__in_design
      background: none !important
    &__img
      margin-bottom: 20px
    &__in
      margin-bottom: 0
    &__flex
      margin-right: 0
    &__in_design_left .title
      text-align: left
  .content__in_design_left ul
    margin-left: 0
  .footer
    padding: 20px 0
  .case-in__design
    flex-wrap: wrap
    &_txt, img
      max-width: 100%
  .breadcrumbs__wr
    flex-wrap: wrap
    align-items: center
  .breadcrumbs__item
    line-height: 1
    // width: 100%
    margin-bottom: 10px
  .contacts__wr
    flex-wrap: wrap
  .contacts__item
    width: 100%
    margin-bottom: 20px
    height: auto
    padding: 30px
    position: relative
  .map.is-active
    top: 0
    width: 100%
  .contacts__wr.is-active .contacts__item
    width: 100%
  .vacancies__map
    display: none
  .news-inner__design .news-inner__footnote
    position: relative
    max-width: 100%
    left: 0
    right: 0
    background-color: #fff
    padding: 30px
  .news-inner__img img
    max-width: 100%
    width: 100%
  .news-inner .mt-minus
    margin-top: 20px
  .content
    padding-left: 20px
    padding-right: 20px
  .content__in
    margin-top: 0
  .content__in_design_left 
    .title
      margin-left: 0
  .content 
    .accordeon__wr
      margin-bottom: 20px
  .content__in_design_right.myClass
    padding-top: 0
    padding-left: 0
  .main-case
    margin-top: 0
  .case
    padding-top: 40px
    padding-bottom: 40px
  .sidebar__nav_wr_top
    margin-bottom: 40px
  .sidebar__nav
    padding-bottom: 0
  .header
    .first__head
      padding-top: 15px
  .title
    font-size: 25px
  .case__ttl 
    font-size: 22px
  .banner__ttl
    font-size: 28px
@media (max-width: 768.98px)
  body
    overflow-x: hidden
  .logo
    svg
      width: 59px
      height: 75px
    &__caption
      font-size: 25px
  .page-header
    .container
      width: 100%
    .logo
      display: flex
      &_white
        display: none
      &_blue
        display: block
  .nav_top
    display: none
  .nav_mobile
    display: block
  .top-phone
    grid-column: 6/10
    text-align: center
  .hamburger
    display: block
  .menu
    right: -120%
    width: 100%
    min-height: 400px
    height: 100vh
    overflow-y: scroll
    box-sizing: border-box
    display: flex
    .top-phone
      display: block
  .sidebar
    min-height: auto
  .sidebar__logo
    display: none
  .sidebar__social_item_in
    margin-right: 0
  .slider__dots
    width: 465px
  .banner__txt
    grid-column: 3/end  
  .banner__ttl
    font-size: 28px
  .banner__subttl
    font-size: 18px
  .slider__counter 
    top: auto
    bottom: 20%
  .slider__number
    font-size: 58px
    &:after
      display: none
  .slider__count
    font-size: 30px
  .sidebar
    position: relative
    width: 100%
    padding-top: 80px
    grid-column: 1/end
    padding-left: 16px
    padding-right: 16px
    &:after
      display: none
      // content: ''
      // display: block
      // position: absolute
      // top: 0
      // right: -100px
      // width: 100px
      // height: 100%
      // background-color: #fff
    &__nav_wr_top
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    &__nav_item
      width: 45%
    &__nav_link
      font-size: 16px
    &__contacts
      display: none
  .page-header 
    .container 
      .first__head
        grid-column: 1/end
        padding-left: 16px
        padding-right: 16px
  .content_wrap
    grid-column: 1/end
  .footer__logo
    grid-column: 1/end
  .footer__copy 
    grid-column: 1/end
  .footer__email
    grid-column: 1/end
  .footer__item a, .footer__item p
    margin-bottom: 0
  .back
    margin-top: 160px
  .content
    grid-column: 1/end
    margin-top: 50px
    padding-top: 0
    max-height: 100%
  .section-in
    padding-bottom: 40px
  
  .footer__adress
    grid-column: 1/end
    margin-top: 0
  .page-header
    .top-phone
      display: block
      color: #262626
    .hamburger:after, .hamburger:before
      background-color: #262626
  .case
    grid-column: 1/end
  .feedback
    grid-column: 1/end
  .only-tablet
    display: block
  .title
    font-size: 20px
  .news__last
    max-height: 0
    overflow: hidden
    border: 0
    &.is-open
      max-height: 100%
      border-bottom: 1px solid rgba(0,0,0,0.1)
  .news__list-year, .news__list-month
    display: none
  .news__list-selects
    display: flex
  .container
    padding-left: 16px
    padding-right: 16px
  .banner__ttl
    line-height: 1.2
    margin-bottom: 14px
  .sticky-wrapper
    grid-column: 1/end
    width: 100%


    
@media (max-width: 640.98px)
  // .top-phone
  //   grid-column: 6/12
  //   text-align: center
  .footer 
    .container 
      grid-column-gap: 0
  .top-phone
    grid-column: 6/12
    margin-right: 5px

@media (max-width: 540.98px)
  .top-phone, .page-header .top-phone
    display: none
@media (max-width: 480.98px)
  .news__list-year
    flex-wrap: wrap
    justify-content: flex-start
  .news__list-year__item
    width: 15%
  .container
    padding: 0 30px
  .only-mobile
    display: block
  .content
    margin-right: 0
  .js-ui-accordion_click:before
    top: 40%
    right: 0
  .logo
    grid-column: 1/2
  .top-phone, .page-header .top-phone
    display: none
  .slider__counter
    display: none
  .banner__txt
    grid-column: 1/13
  .slider__dots
    width: 86%
    bottom: 180px
    margin: 0 auto
  .language__link
    font-size: 15px
  .mouse__caption
    transform: rotate(0)
    position: relative
    top: 0
    left: 0
    font-size: 16px
    text-decoration: underline
  .mouse__icon
    display: none
  .sidebar__nav_item
    width: 100%
  .case
    margin-top: 50px
    &__item
      flex: 0 0 100%
      max-width: 100%
      margin-bottom: 30px
  .footer
    margin-top: 0
    &__email
      grid-column: 1/13
      margin-top: 20px
    &__copy
      display: flex
      flex-wrap: wrap
      align-items: center
      border-bottom: 1px solid #1B1B1B
      padding-bottom: 20px
      &_link
        display: none
      &_wr
        margin-left: 20px
        justify-content: flex-start
      p
        margin: 0
    &__adress
      border-bottom: 1px solid #1B1B1B
      padding-bottom: 20px
    &__phone
      display: flex
      justify-content: space-between
      align-items: center
      grid-column: 1/13
      margin-top: 30px
      a
        font-size: 18px
        font-family: 'mont-bold', serif
  .only-desktop
    display: none
  .breadcrumbs
    grid-column: 1/13
  .case-in__wr
    padding: 30px
  .cases2__item
    padding: 30px
  .form__wr
    flex-wrap: wrap
  .form__input
    width: 100%
  .sidebar
    box-sizing: border-box
    &:before
      width: 30px
      left: -30px
    &:after
      width: 30px
      right: -30px
  .case
    &:before
      width: 30px
      left: -30px
    &:after
      width: 30px
      right: -30px
  .feedback
    &:before
      width: 30px
      left: -30px
    &:after
      width: 30px
      right: -30px
  .main-case .title
    line-height: 1.2
  .footer__phone a
    white-space: nowrap
  .sidebar__social_item:first-child
    margin-right: 16px
@media (max-width: 375.98px)
  .top-phone
    font-size: 16px
  .slider__dots
    bottom: 250px
  .title
    font-size: 25px
  .content__in .title
    font-size: 20px
  .slider__dots
    bottom: 160px
  .banner__subttl 
    font-size: 16px
  .dots-wrap button.owl-dot
    margin-right: 18px
  .header 
    .first__head
      padding-top: 0
  .sidebar__nav_item 
    margin-bottom: 16px
  .sidebar
    padding-bottom: 20px
@media (max-width: 320.98px)
  .logo
    svg
      width: 42px
      height: 62px
  .top-phone
    grid-column: 3/11
  .footer__phone a
    font-size: 16px
  .sidebar__social_item:first-child
    margin-right: 15px
  .footer__copy_wr
    max-width: 70%










